* {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: #DDF219;
    border-radius: 3px;
  }
}

[class*="__container"] {
  width: 100%;
  padding-left: toRem(20);
  padding-right: toRem(20);
  margin-inline: auto;
  @include adaptiveValue("max-width", 1340,1040,0,1920,1440);
}